{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>RateIt</title>
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.svg' %}" type="image/svg"/>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/lineicons.css' %}"/>
    <link rel="stylesheet" href="{% static '/assets/css/tiny-slider.css' %}"/>
    <link rel="stylesheet" href="{% static '/assets/css/glightbox.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'landing.css' %}"/>
</head>

<body>

<section class="navbar-area navbar-nine">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="index.html">
                        <img src="{% static '/assets/images/white-blue-logo.png' %}" alt="Logo"/>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNine"
                            aria-controls="navbarNine" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="toggler-icon"></span>
                        <span class="toggler-icon"></span>
                        <span class="toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse sub-menu-bar" id="navbarNine">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="page-scroll active" href="#hero-area">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="page-scroll" href="#about">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="page-scroll" href="#services">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="page-scroll" href="#details">Why Us?</a>
                            </li>
                            <li class="nav-item">
                                <a class="page-scroll" href="#team">Team</a>
                            </li>
                            <li class="nav-item">
                                <a class="page-scroll" href="#university">Institutions</a>
                            </li>
                            <li class="nav-item">
                                <a class="page-scroll" href="#contact">Contact</a>
                            </li>

                        </ul>
                    </div>

                    <div class="navbar-btn d-none d-lg-inline-block">
                        <a class="menu-bar" href="#side-menu-left"><i class="lni lni-menu"></i></a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>

<div class="sidebar-left">
    <div class="sidebar-close">
        <a class="close" href="#close"><i class="lni lni-close"></i></a>
    </div>
    <div class="sidebar-content">
        <div class="sidebar-logo">
            <a href="index.html"><img src="{% static '/assets/images/black-white-logo.png' %}" alt="Logo"/></a>
        </div>
        <p class="text">Navigate through the service as fast as you wish.</p>
        <div class="sidebar-menu">
            <h5 class="menu-title">Quick Links</h5>
            <ul>
                <li><a href="#about">About Us</a></li>
                <li><a href="#team">Our Team</a></li>
                <li><a href="{% url 'login' %}">Log in</a></li>
                <li><a href="{% url 'signup' %}">Sign up</a></li>
            </ul>
        </div>
        <div class="sidebar-social align-items-center justify-content-center">
            <h5 class="social-title">Follow Us On</h5>
            <ul>
                <li>
                    <a href="https://www.instagram.com/yerasap"><i class="lni lni-instagram"></i></a>
                    <a href="https://www.instagram.com/r4khic"><i class="lni lni-instagram"></i></a>
                </li>
                <li>
                    <a href="https://api.whatsapp.com/send?%20phone=87755129395"><i class="lni lni-whatsapp"></i></a>
                    <a href="https://api.whatsapp.com/send?%20phone=87477947723"><i class="lni lni-whatsapp"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/yerassyl-saparbekov-15b25b216"><i
                            class="lni lni-linkedin-original"></i></a>
                    <a href="https://www.linkedin.com/in/rakhatbek-arinov/"><i
                            class="lni lni-linkedin-original"></i></a>
                </li>
                <li>
                    <a href="https://t.me/YeraSz"><i class="lni lni-telegram-original"></i></a>
                    <a href="https://t.me/r4khic"><i class="lni lni-telegram-original"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="overlay-left"></div>

<section id="hero-area" class="header-area header-eight">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="header-content">
                    <h1>RateIt - professional assessment of academic approach.</h1>
                    <p>
                        Service for quickly researching and rating professors.
                    </p>
                    <div class="button">
                        <a href="{% url 'signup' %}" class="btn primary-btn">Get Started</a>
                        <a href="https://youtu.be/DiDzrmuXvto"
                           class="glightbox video-button">
                <span class="btn icon-btn rounded-full">
                  <i class="lni lni-play"></i>
                </span>
                            <span class="text">Watch Intro</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <div class="header-image">
                    <img src="{% static '/assets/images/header/landing.jpg' %}" alt="#"/>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="about-area about-five">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-12">
                <div class="about-image-five">
                    <svg class="shape" width="106" height="134" viewBox="0 0 106 134" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <circle cx="1.66654" cy="1.66679" r="1.66667" fill="#DADADA"/>
                        <circle cx="1.66654" cy="16.3335" r="1.66667" fill="#DADADA"/>
                        <circle cx="1.66654" cy="31.0001" r="1.66667" fill="#DADADA"/>
                        <circle cx="1.66654" cy="45.6668" r="1.66667" fill="#DADADA"/>
                        <circle cx="1.66654" cy="60.3335" r="1.66667" fill="#DADADA"/>
                        <circle cx="1.66654" cy="88.6668" r="1.66667" fill="#DADADA"/>
                        <circle cx="1.66654" cy="117.667" r="1.66667" fill="#DADADA"/>
                        <circle cx="1.66654" cy="74.6668" r="1.66667" fill="#DADADA"/>
                        <circle cx="1.66654" cy="103" r="1.66667" fill="#DADADA"/>
                        <circle cx="1.66654" cy="132" r="1.66667" fill="#DADADA"/>
                        <circle cx="16.3333" cy="1.66679" r="1.66667" fill="#DADADA"/>
                        <circle cx="16.3333" cy="16.3335" r="1.66667" fill="#DADADA"/>
                        <circle cx="16.3333" cy="31.0001" r="1.66667" fill="#DADADA"/>
                        <circle cx="16.3333" cy="45.6668" r="1.66667" fill="#DADADA"/>
                        <circle cx="16.333" cy="60.3335" r="1.66667" fill="#DADADA"/>
                        <circle cx="16.333" cy="88.6668" r="1.66667" fill="#DADADA"/>
                        <circle cx="16.333" cy="117.667" r="1.66667" fill="#DADADA"/>
                        <circle cx="16.333" cy="74.6668" r="1.66667" fill="#DADADA"/>
                        <circle cx="16.333" cy="103" r="1.66667" fill="#DADADA"/>
                        <circle cx="16.333" cy="132" r="1.66667" fill="#DADADA"/>
                        <circle cx="30.9998" cy="1.66679" r="1.66667" fill="#DADADA"/>
                        <circle cx="74.6665" cy="1.66679" r="1.66667" fill="#DADADA"/>
                        <circle cx="30.9998" cy="16.3335" r="1.66667" fill="#DADADA"/>
                        <circle cx="74.6665" cy="16.3335" r="1.66667" fill="#DADADA"/>
                        <circle cx="30.9998" cy="31.0001" r="1.66667" fill="#DADADA"/>
                        <circle cx="74.6665" cy="31.0001" r="1.66667" fill="#DADADA"/>
                        <circle cx="30.9998" cy="45.6668" r="1.66667" fill="#DADADA"/>
                        <circle cx="74.6665" cy="45.6668" r="1.66667" fill="#DADADA"/>
                        <circle cx="31" cy="60.3335" r="1.66667" fill="#DADADA"/>
                        <circle cx="74.6668" cy="60.3335" r="1.66667" fill="#DADADA"/>
                        <circle cx="31" cy="88.6668" r="1.66667" fill="#DADADA"/>
                        <circle cx="74.6668" cy="88.6668" r="1.66667" fill="#DADADA"/>
                        <circle cx="31" cy="117.667" r="1.66667" fill="#DADADA"/>
                        <circle cx="74.6668" cy="117.667" r="1.66667" fill="#DADADA"/>
                        <circle cx="31" cy="74.6668" r="1.66667" fill="#DADADA"/>
                        <circle cx="74.6668" cy="74.6668" r="1.66667" fill="#DADADA"/>
                        <circle cx="31" cy="103" r="1.66667" fill="#DADADA"/>
                        <circle cx="74.6668" cy="103" r="1.66667" fill="#DADADA"/>
                        <circle cx="31" cy="132" r="1.66667" fill="#DADADA"/>
                        <circle cx="74.6668" cy="132" r="1.66667" fill="#DADADA"/>
                        <circle cx="45.6665" cy="1.66679" r="1.66667" fill="#DADADA"/>
                        <circle cx="89.3333" cy="1.66679" r="1.66667" fill="#DADADA"/>
                        <circle cx="45.6665" cy="16.3335" r="1.66667" fill="#DADADA"/>
                        <circle cx="89.3333" cy="16.3335" r="1.66667" fill="#DADADA"/>
                        <circle cx="45.6665" cy="31.0001" r="1.66667" fill="#DADADA"/>
                        <circle cx="89.3333" cy="31.0001" r="1.66667" fill="#DADADA"/>
                        <circle cx="45.6665" cy="45.6668" r="1.66667" fill="#DADADA"/>
                        <circle cx="89.3333" cy="45.6668" r="1.66667" fill="#DADADA"/>
                        <circle cx="45.6665" cy="60.3335" r="1.66667" fill="#DADADA"/>
                        <circle cx="89.3333" cy="60.3335" r="1.66667" fill="#DADADA"/>
                        <circle cx="45.6665" cy="88.6668" r="1.66667" fill="#DADADA"/>
                        <circle cx="89.3333" cy="88.6668" r="1.66667" fill="#DADADA"/>
                        <circle cx="45.6665" cy="117.667" r="1.66667" fill="#DADADA"/>
                        <circle cx="89.3333" cy="117.667" r="1.66667" fill="#DADADA"/>
                        <circle cx="45.6665" cy="74.6668" r="1.66667" fill="#DADADA"/>
                        <circle cx="89.3333" cy="74.6668" r="1.66667" fill="#DADADA"/>
                        <circle cx="45.6665" cy="103" r="1.66667" fill="#DADADA"/>
                        <circle cx="89.3333" cy="103" r="1.66667" fill="#DADADA"/>
                        <circle cx="45.6665" cy="132" r="1.66667" fill="#DADADA"/>
                        <circle cx="89.3333" cy="132" r="1.66667" fill="#DADADA"/>
                        <circle cx="60.3333" cy="1.66679" r="1.66667" fill="#DADADA"/>
                        <circle cx="104" cy="1.66679" r="1.66667" fill="#DADADA"/>
                        <circle cx="60.3333" cy="16.3335" r="1.66667" fill="#DADADA"/>
                        <circle cx="104" cy="16.3335" r="1.66667" fill="#DADADA"/>
                        <circle cx="60.3333" cy="31.0001" r="1.66667" fill="#DADADA"/>
                        <circle cx="104" cy="31.0001" r="1.66667" fill="#DADADA"/>
                        <circle cx="60.3333" cy="45.6668" r="1.66667" fill="#DADADA"/>
                        <circle cx="104" cy="45.6668" r="1.66667" fill="#DADADA"/>
                        <circle cx="60.333" cy="60.3335" r="1.66667" fill="#DADADA"/>
                        <circle cx="104" cy="60.3335" r="1.66667" fill="#DADADA"/>
                        <circle cx="60.333" cy="88.6668" r="1.66667" fill="#DADADA"/>
                        <circle cx="104" cy="88.6668" r="1.66667" fill="#DADADA"/>
                        <circle cx="60.333" cy="117.667" r="1.66667" fill="#DADADA"/>
                        <circle cx="104" cy="117.667" r="1.66667" fill="#DADADA"/>
                        <circle cx="60.333" cy="74.6668" r="1.66667" fill="#DADADA"/>
                        <circle cx="104" cy="74.6668" r="1.66667" fill="#DADADA"/>
                        <circle cx="60.333" cy="103" r="1.66667" fill="#DADADA"/>
                        <circle cx="104" cy="103" r="1.66667" fill="#DADADA"/>
                        <circle cx="60.333" cy="132" r="1.66667" fill="#DADADA"/>
                        <circle cx="104" cy="132" r="1.66667" fill="#DADADA"/>
                    </svg>
                    <img src="{% static '/assets/images/about/about-img1.jpg' %}" alt="about"/>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="about-five-content">
                    <h6 class="small-title text-lg">OUR STORY</h6>
                    <h2 class="main-title fw-bold">Our team comes with your experience and knowledge</h2>
                    <div class="about-five-tab">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-who-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-who"
                                        type="button" role="tab" aria-controls="nav-who" aria-selected="true">Who We Are
                                </button>
                                <button class="nav-link" id="nav-vision-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-vision"
                                        type="button" role="tab" aria-controls="nav-vision" aria-selected="false">our
                                    Vision
                                </button>
                                <button class="nav-link" id="nav-history-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-history"
                                        type="button" role="tab" aria-controls="nav-history" aria-selected="false">our
                                    History
                                </button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-who" role="tabpanel"
                                 aria-labelledby="nav-who-tab">
                                <p> RateIt is a platform for quickly researching and rating professors. The website
                                    allows users
                                    to navigate whilst peeking appropriately at both educational institutions and
                                    teacher.</p>
                                <p>The users provide an additional review based on their performance. RateIt will
                                    provide a
                                    diversity of categories, by which teachers and institutions could be depicted.</p>
                            </div>
                            <div class="tab-pane fade" id="nav-vision" role="tabpanel" aria-labelledby="nav-vision-tab">
                                <p>Considering that we focus on assessing professors and teachers with different
                                    backgrounds, we believe students and institutions would from our service. </p>
                                <p>Besides, public & private institutions may lead their profiles, which means parents
                                    might
                                    be interested in searching for the most suitable organization for their
                                    children.</p>
                            </div>
                            <div class="tab-pane fade" id="nav-history" role="tabpanel"
                                 aria-labelledby="nav-history-tab">
                                <p>We have started our path as three group mates with the similar perception of what the
                                    modern institutions lack.
                                    Our team used to consist of three people - Yerassyl, Rakhatbek and Alikhan.
                                    Unfortunately,
                                    Alikhan had to leave the project due to external factors, but it’d be unfair not to
                                    mention him,
                                    given what he contributed to the progress.</p>
                                <p>Now one of is dealing with the Front side of the website,
                                    while another one is focusing on the Back-end. We’ve known each other for half a
                                    year, but face a
                                    shortage of time, therefore, we split the workload equally.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services" class="services-area services-eight">
    <div class="section-title-five">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <h6>Services</h6>
                        <h2 class="fw-bold">Our Best Services</h2>
                        <p>
                            There are many variations of ratings deliberately picked to fulfill expectations of users (
                            and critics as well :) )
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="service-icon">
                        <i class="lni lni-coin"></i>
                    </div>
                    <div class="service-content">
                        <h4>Completely free</h4>
                        <p>
                            We value our community's attention, therefore offer all the features free of charge.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="service-icon">
                        <i class="lni lni-github-original"></i>
                    </div>
                    <div class="service-content">
                        <h4>Free source code</h4>
                        <p>
                            We do know how challenging it is to develop an internet service. Thus, share our source code
                            with all the users.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="service-icon">
                        <i class="lni lni-enter"></i>
                    </div>
                    <div class="service-content">
                        <h4>10+ Users Daily</h4>
                        <p>
                            We ensure that a vast amount of our active community grows each day.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="service-icon">
                        <i class="lni lni-dashboard"></i>
                    </div>
                    <div class="service-content">
                        <h4>Fast Access</h4>
                        <p>
                            Quickly rate any professor and leave a testimonial without further ado.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="service-icon">
                        <i class="lni lni-pencil-alt"></i>
                    </div>
                    <div class="service-content">
                        <h4>Fully Customizable</h4>
                        <p>
                            Personalize your profile with a variety of options to let others know more about you!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="service-icon">
                        <i class="lni lni-reload"></i>
                    </div>
                    <div class="service-content">
                        <h4>Regular Updates</h4>
                        <p>
                            We do our best to expand our database of professors and institutions all over the world.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="details" class="pricing-area pricing-fourteen">
    <div class="section-title-five">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <h6>Details</h6>
                        <h2 class="fw-bold">Why Us?</h2>
                        <p>
                            In modern competitive industry, it is quite challenging to find appropriate institutions as
                            well as suitable professors.
                            <br> We ensure that by utilizing our service you will definitely peek at the best
                            organization that meets all your requirements.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="pricing-style-fourteen">
                    <div class="table-head">
                        <h4 class="title">Functionality</h4>
                        <p>Server-side logic is built to provide a wide range of features.</p>

                    </div>

                    <div class="light-rounded-buttons">
                        <a href="javascript:void(0)" class="btn primary-btn">
                            Simplicity & Usability
                        </a>
                    </div>

                    <div class="table-content">
                        <ul class="table-list">
                            <li><i class="lni lni-checkmark-circle"></i>Rating System</li>
                            <li><i class="lni lni-checkmark-circle"></i>Leaving a Score apart from Comment</li>
                            <li><i class="lni lni-checkmark-circle"></i>Leaderboard list</li>
                            <li><i class="lni lni-checkmark-circle"></i>Manual addition of Professors & Institutions
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="pricing-style-fourteen">
                    <div class="table-head">
                        <h4 class="title">Overall price</h4>
                        <p>The Best Things In Life Are Free.</p>
                        <div class="price">
                            <h2 class="amount">
                                <span class="currency">$</span>0<span class="duration">/mo </span>
                            </h2>
                        </div>
                    </div>

                    <div class="light-rounded-buttons">
                        <a href="javascript:void(0)" class="btn primary-btn">
                            No need to pay
                        </a>
                    </div>

                    <div class="table-content">
                        <ul class="table-list">
                            <li><i class="lni lni-checkmark-circle"></i>Provided business plan</li>
                            <li><i class="lni lni-checkmark-circle"></i>Free source code</li>
                            <li><i class="lni lni-checkmark-circle"></i>Provided marketing plan</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="pricing-style-fourteen">
                    <div class="table-head">
                        <h4 class="title">Convenience</h4>
                        <p>We take care of the design as well as we do debug.
                            We are responsible for maintaining the user-friendly layout of the whole system.
                            We thoroughly picked up the combination of design to code a website’s appearance.</p>
                    </div>

                    <div class="light-rounded-buttons">
                        <a href="javascript:void(0)" class="btn primary-btn">
                            Ease of use
                        </a>
                    </div>

                    <div class="table-content">
                        <ul class="table-list">
                            <li><i class="lni lni-checkmark-circle"></i>Cozy design</li>
                            <li><i class="lni lni-checkmark-circle"></i>Attractive layout</li>
                            <li><i class="lni lni-checkmark-circle"></i>All-in-one navigation</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="call-action" class="call-action">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-9">
                <div class="inner-content">
                    <h2>We love to rate not your grades, but <br/> a professor who gave those grades.</h2>
                    <p>
                        Why we think, that it is important to rate someone's performance?<br/>
                        As any human being, professors are careful about their overall productivity; <br>
                        to progress and be the best version of ourselves, we demand objective criticism
                        from the outside.
                    </p>
                    <div class="light-rounded-buttons">
                        <a href="{% url 'signup' %}" class="btn primary-btn-outline">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="team" class="latest-news-area section">
    <div class="section-title-five">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <h6>Our Team</h6>
                        <h2 class="fw-bold">Let's get to know each other better</h2>
                        <p>
                            There are many users we know from the information available provided in their profiles,
                            but the majority of the community is not familiar with us in some form. Time to fix it!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single News -->
                <div class="single-news">
                    <div class="image">
                        <a href="javascript:void(0)"><img class="thumb" src="{% static '/assets/images/blog/1.jpg' %}"
                                                          alt="Blog"/></a>
                        <div class="meta-details">
                            <img class="thumb" src="{% static '/assets/images/blog/rakhatbek.png' %}" alt="Author"/>
                            <span>RAKHATBEK ARINOV</span>
                        </div>
                    </div>
                    <div class="content-body">
                        <h4 class="title">
                            <a href="javascript:void(0)">Before software can be reusable it first has to be usable.</a>
                        </h4>
                        <p>
                            A back-end web developer that is responsible for server-side web application
                            logic and integration of the work front-end web developers do, as well as taking care of
                            debugging.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-news">
                    <div class="image">
                        <a href="javascript:void(0)"><img class="thumb" src="{% static '/assets/images/blog/2.jpg' %}"
                                                          alt="Blog"/></a>
                        <div class="meta-details">
                            <img class="thumb" src="{% static '/assets/images/blog/yerassyl.jpg' %}" alt="Author"/>
                            <span>YERASSYL SAPARBEKOV</span>
                        </div>
                    </div>
                    <div class="content-body">
                        <h4 class="title">
                            <a href="javascript:void(0)">
                                Code is like humor. <br> When you have to explain it, it’s bad.
                            </a>
                        </h4>
                        <p>
                            A front-end web developer that is responsible for implementing
                            visual elements that users see and interact with in a web application.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-news">
                    <div class="image">
                        <a href="javascript:void(0)"><img class="thumb" src="{% static '/assets/images/blog/3.png' %}"
                                                          alt="Blog"/></a>
                        <div class="meta-details">
                            <img class="thumb" src="{% static '/assets/images/blog/alikhan.jpg' %}" alt="Author"/>
                            <span>ALIKHAN MADENI</span>
                        </div>
                    </div>
                    <div class="content-body">
                        <h4 class="title">
                            <a href="javascript:void(0)">
                                Experience is the name everyone gives to their mistakes.
                            </a>
                        </h4>
                        <p>
                            A front end developer that was responsible basic layout of the whole system.
                            Picked up the combination of design to code a website’s appearance. (ex teammate)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="university" class="brand-area section">
    <div class="section-title-five">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <h6>Partner universities</h6>
                        <h2 class="fw-bold">We do our best to expand the horizons of what's achievable</h2>
                        <p>
                            Apart from the primary team, we collaborate with several local institutions that assisted us
                            from the very beginning of our journey.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-12">
                <div class="clients-logos">
                    <div class="single-image">
                        <img src="..{% static '/assets/images/client-logo/aitu.jpg' %}" alt="University Logo Images"/>
                    </div>
                    <div class="single-image">
                        <img src="{% static '/assets/images/client-logo/nu.jpg' %}" alt="University Logo Images"/>
                    </div>
                    <div class="single-image">
                        <img src="{% static '/assets/images/client-logo/iitu.jpg' %}" alt="University Logo Images"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="contact" class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="contact-item-wrapper">
                    <div class="row">
                        <div class="col-12 col-md-6 col-xl-12">
                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="lni lni-phone"></i>
                                </div>
                                <div class="contact-content">
                                    <h4>Contact</h4>
                                    <p>yerassyl.saparbekov@gmail.com</p>
                                    <p>arinov.job@gmail.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-12">
                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="lni lni-map-marker"></i>
                                </div>
                                <div class="contact-content">
                                    <h4>Address</h4>
                                    <p>Turkistan Street, Nur-Sultan 020000</p>
                                    <p>Kazakhstan</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-12">
                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="lni lni-alarm-clock"></i>
                                </div>
                                <div class="contact-content">
                                    <h4>Schedule</h4>
                                    <p>24 Hours / 7 Days Working</p>
                                    <p>Office time: 8 AM - 4:30 PM</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="map-section map-style-9">
    <div class="map-container">
        <object style="border:0; height: 600px; width: 100%;"
                data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d987.3341854782292!2d71.41816012248795!3d51.09084479347166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x424585a605525605%3A0x4dff4a1973f7567e!2sAstana%20IT%20University!5e0!3m2!1sen!2skz!4v1653136935222!5m2!1sen!2skz"></object>
    </div>
    </div>
</section>

<footer class="footer-area footer-eleven">
    <div class="footer-top">
        <div class="container">
            <div class="inner-content">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="footer-widget f-about">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="{% static '/assets/images/black-white-logo.png' %}" alt="RateIt logo"
                                         class="img-fluid"/>
                                </a>
                            </div>
                            <p>
                                Making the world a better place through constructive critic.
                            </p>
                            <p class="copyright-text">
                                <span>© 2022 RateIt.</span>Designed and Developed by
                                <a href="javascript:void(0)" rel="nofollow"> "Team Google" </a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-12">
                        <div class="footer-widget f-link">
                            <h5>Solutions</h5>
                            <ul>
                                <li><a href="javascript:void(0)">Marketing</a></li>
                                <li><a href="javascript:void(0)">Analytics</a></li>
                                <li><a href="javascript:void(0)">Commerce</a></li>
                                <li><a href="javascript:void(0)">Insights</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-12">
                        <div class="footer-widget f-link">
                            <h5>Support</h5>
                            <ul>
                                <li><a href="javascript:void(0)">Pricing</a></li>
                                <li><a href="javascript:void(0)">Documentation</a></li>
                                <li><a href="javascript:void(0)">Guides</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="footer-widget f-link">
                            <h5>Follow Us</h5>
                            <ul>
                                <li><a href="https://api.whatsapp.com/send?%20phone=87755129395">WhatsApp</a></li>
                                <li><a href="https://t.me/YeraSz">Telegram</a></li>
                                <li><a href="https://www.instagram.com/yerasap">Instagram</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<a href="#" class="scroll-top btn-hover">
    <i class="lni lni-chevron-up"></i>
</a>

<script src="{% static '/assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/assets/js/glightbox.min.js' %}"></script>
<script src="{% static '/assets/js/main.js' %}"></script>
<script src="{% static '/assets/js/tiny-slider.js' %}"></script>

<script>

    //===== close navbar-collapse when a  clicked
    let navbarTogglerNine = document.querySelector(
        ".navbar-nine .navbar-toggler"
    );
    navbarTogglerNine.addEventListener("click", function () {
        navbarTogglerNine.classList.toggle("active");
    });

    // ==== left sidebar toggle
    let sidebarLeft = document.querySelector(".sidebar-left");
    let overlayLeft = document.querySelector(".overlay-left");
    let sidebarClose = document.querySelector(".sidebar-close .close");

    overlayLeft.addEventListener("click", function () {
        sidebarLeft.classList.toggle("open");
        overlayLeft.classList.toggle("open");
    });
    sidebarClose.addEventListener("click", function () {
        sidebarLeft.classList.remove("open");
        overlayLeft.classList.remove("open");
    });

    // ===== navbar nine sideMenu
    let sideMenuLeftNine = document.querySelector(".navbar-nine .menu-bar");

    sideMenuLeftNine.addEventListener("click", function () {
        sidebarLeft.classList.add("open");
        overlayLeft.classList.add("open");
    });

    //========= glightbox
    GLightbox({
        'href': 'https://www.youtube.com/watch?v=DiDzrmuXvto&feature=youtu.be',
        'type': 'video',
        'source': 'youtube',
        'width': 900,
        'autoplayVideos': true,
    });

</script>
</body>

</html>